BIA_EMAIL=pralayasimha@yahoo.com
BIA_PASSWORD=SrijaSimha@143
BIA_LOGIN_URL=https://campusconnect.bostoninstituteofanalytics.org/
BIA_CALENDAR_URL=https://campusconnect.bostoninstituteofanalytics.org/academic-calendar
